<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-5">
  <div
    class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
  >
    <div>
      <button
        id="dropdownActionButton"
        data-dropdown-toggle="dropdownAction"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        type="button"
      >
        <span class="sr-only">Action button</span>
        Action
        <svg
          class="w-2.5 h-2.5 ms-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdownAction"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
      >
        <ul
          class="py-1 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownActionButton"
        >
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Reward</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Promote</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Activate account</a
            >
          </li>
        </ul>
        <div class="py-1">
          <a
            href="#"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >Delete User</a
          >
        </div>
      </div>
    </div>
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="table-search-users"
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for users"
      />
    </div>
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="p-4">checkbox</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Score</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let candidate of candidates"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input
              id="checkbox-table-search-1"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label for="checkbox-table-search-1" class="sr-only"
              >checkbox</label
            >
          </div>
        </td>
        <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <div class="ps-3">
            <div class="text-base font-semibold">{{ candidate.name }}</div>
          </div>
        </th>
        <td class="px-6 py-4">
          {{ candidate.score }}
        </td>
        <td class="px-6 py-4 flex space-x-2">
          <button
            class="bg-gray-200 text-gray-700 px-4 py-1 rounded-md hover:bg-gray-300 transition-colors"
            (click)="updateCandidateDetails(candidate)"
          >
            Update
          </button>
          <button
            class="bg-red-200 text-gray-700 px-4 py-1 rounded-md hover:bg-red-300 transition-colors"
            (click)="deleteCandidate(candidate.id)"
          >
            Delete
          </button>
          <button
            class="bg-green-200 text-gray-700 px-4 py-1 rounded-md hover:bg-green-300 transition-colors"
            (click)="viewDetails(candidate)"
          >
            View Details
          </button>

          <button
            (click)="previewCertificate(candidate)"
          >
            <svg class="w-6 h-6 text-blue-400 hover:text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
            </svg>            
          </button>

          <button 
          *ngIf="!candidate.certificatePrinted"
          (click)="printCandidate(candidate.id)">
            <svg
              class="w-6 h-6 text-blue-400 dark:text-white cursor-pointer hover:text-blue-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16.444 18H19a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2.556M17 11V5a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v6h10ZM7 15h10v4a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-4Z"
              />
            </svg>
          </button>

        <div class="flex justify-center items-center">
          <svg 
          *ngIf="candidate.certificatePrinted"
           class="w-6 h-6 text-blue-400 dark:text-white hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
          </svg>
        </div>


        </td>
      </tr>
    </tbody>
  </table>
</div>

<button
  (click)="showTemplatePopup = true"
  class="text-center bg-blue-500 text-white px-2 py-2 rounded-lg mx-4 mt-4 hover:bg-blue-600 transition-colors"
>
  Select Template
</button>
<button class="add" (click)="addTemplate()">Add New Template</button>
<app-template-popup
  *ngIf="showTemplatePopup"
  (closePopup)="showTemplatePopup = false"
></app-template-popup>

<div
  *ngIf="showViewDetailsPopup"
  class="fixed inset-0 z-40 flex items-center justify-center bg-black/50"
>
  <div class="mx-4 w-full max-w-2xl rounded-lg bg-white p-6 text-black md:mx-0">
    <div class="mb-4 flex items-center justify-between">
      <h2 class="text-2xl font-bold">Candidate Details</h2>
      <Button variant="danger" size="sm" (click)="showViewDetailsPopup = false">
        <app-x-icon
          [width]="24"
          [height]="24"
          class="h-4 w-4 mr-2"
        ></app-x-icon>
      </Button>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="font-bold">Name:</div>
        <div>{{ selectedCandidate?.name }}</div>
      </div>
      <div>
        <div class="font-bold">Score:</div>
        <div>{{ selectedCandidate?.score }}</div>
      </div>
      <div>
        <div class="font-bold">Resume:</div>
        <a href="#" target="_blank" rel="noopener noreferrer"> View Resume </a>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showUpdatePopup"
  class="fixed inset-0 z-40 flex items-center justify-center bg-black/50"
>
  <div class="mx-4 w-full max-w-2xl rounded-lg bg-white p-6 text-black md:mx-0">
    <div class="mb-4 flex items-center justify-between">
      <h2 class="text-2xl font-bold">Update Candidate Details</h2>
      <button variant="danger" size="sm" (click)="showUpdatePopup = false">
        <app-x-icon
          [width]="24"
          [height]="24"
          class="h-4 w-4 mr-2"
        ></app-x-icon>
      </button>
    </div>
    <form [formGroup]="updateCandidateForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-4">
        <div>
          <label for="name" class="font-bold">Name:</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="block w-full p-2 border rounded"
          />
        </div>
        <div>
          <label for="score" class="font-bold">Score:</label>
          <input
            type="text"
            id="score"
            formControlName="score"
            class="block w-full p-2 border rounded"
          />
        </div>
        <div>
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors"
          >
            Update Details
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div
  *ngIf="showPreviewPopup"
  class="fixed inset-0 z-40 flex items-center justify-center bg-black/50"
>
  <div class="mx-4 w-full max-w-2xl h-[533px] rounded-lg bg-white p-6 text-black md:mx-0">
    <div class="mb-4 flex items-center justify-between">
      <h2 class="text-2xl font-bold">Certificate Preview</h2>
      <Button variant="danger" size="sm" (click)="showPreviewPopup = false">
        <app-x-icon
          [width]="24"
          [height]="24"
          class="w-4 mr-2"
        ></app-x-icon>
      </Button>
    </div>
    <div>
      <pdf-viewer [src]="previewUrl"
      [render-text]="true" 
      [original-size]="false"
      style="height: 520px"
      ></pdf-viewer>
    </div>
  </div>
</div>

<!-- <app-certificate-template1 [candidateName]="selectedCandidate?.name"></app-certificate-template1> -->
