<div class="container" id="certificate">
    <div class="card">
      <div class="overlay"></div>
      <div class="content">
        <div class="header">
          <div class="title">
            <div style="max-width: 100px; max-height: 100px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-12 w-12 text-[#3b82f6]">
              <path fill-rule="evenodd" d="M2 12a8 8 0 1116 0 8 8 0 01-16 0zm8.354 2.354a.75.75 0 00-1.06-1.06L7 14.293l-.646-.647a.75.75 0 00-1.06 1.06l1 1a.75.75 0 001.06 0l3-3z" clip-rule="evenodd"/>
            </svg>
          </div>
            <h1 class="title">Certificate of Achievement</h1>
          </div>
          <p class="subtitle">Awarded to</p>
          <h2 class="name">{{ candidateName || "" }}</h2>
        </div>
        <div class="footer">
          <p class="description">For outstanding performance and dedication</p>
          <div class="signature">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-12 w-12 text-[#6b7280]">
              <path d="M19.5 6h-2.25a3.75 3.75 0 00-3.75 3.75v1.5A3.75 3.75 0 0016.25 15H19.5v2.25a.75.75 0 001.5 0V6a.75.75 0 00-.75-.75zM6 6.75A3.75 3.75 0 009.75 3h4.5A3.75 3.75 0 0018 6.75v9a.75.75 0 01-1.5 0V6.75A2.25 2.25 0 0014.25 4.5h-4.5A2.25 2.25 0 007.5 6.75v9a.75.75 0 01-1.5 0v-9z"/>
            </svg>
            <p class="description">Company CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  